<div class="flex flex-col items-center justify-center min-h-screen p-4">
    <nz-card class="w-full max-w-md">
        <div class="text-center mb-8">
            <h1 class="text-3xl font-bold mb-1">Terraform Wars</h1>
            <p class="text-gray-600">Enter your email to receive a link to reset your password</p>
        </div>
        <form nz-form [formGroup]="requestPasswordResetForm" (ngSubmit)="requestResetPassword()" nzLayout="vertical">
            <nz-form-item>
                <nz-form-label nzRequired class="font-medium">Email</nz-form-label>
                <nz-form-control nzErrorTip="Please enter a valid email!">
                    <nz-input-group nzPrefixIcon="mail">
                        <input
                            type="email"
                            nz-input
                            formControlName="email"
                            placeholder="Email"
                            autocomplete="email"
                            class="w-full"
                        />
                    </nz-input-group>
                </nz-form-control>
            </nz-form-item>

            <div class="flex justify-end items-center mb-6">
                <a nzType="link" routerLink="/auth/login">Back to login</a>
            </div>

            <button
                nz-button
                nzType="primary"
                [nzLoading]="loading"
                [disabled]="
          !requestPasswordResetForm.valid ||
          requestPasswordResetForm.pristine ||
          loading
        "
                class="w-full h-10"
            >
                Reset password
            </button>
        </form>
    </nz-card>
</div>
