<div class="text-center mb-8">
    <h1 i18n class="text-3xl font-bold mb-2">Terraform Wars</h1>
    <p i18n class="text-gray-500">Enter your new password</p>
</div>
<form [formGroup]="passwordResetForm" (ngSubmit)="resetPassword()" class="w-full flex flex-col gap-4">
    <div class="flex flex-col gap-2">
        <label i18n for="password1">New password</label>
        <p-password
            id="password1"
            i18n-placeholder
            aria-describedby="password1-help"
            formControlName="password1"
            placeholder="New password"
            feedback="false"
            autocomplete="password"
            fluid="true"
            [toggleMask]="true"
            [class.ng-invalid]="!passwordResetForm.controls.password1.pristine && passwordResetForm.controls.password1.invalid"
            [class.ng-dirty]="!passwordResetForm.controls.password1.pristine && passwordResetForm.controls.password1.invalid"
        />
        @if (passwordResetForm.controls.password1.errors?.['password1']) {
            <p-message severity="error" variant="simple" size="small">Enter a valid password</p-message>
        }
    </div>
    <div class="flex flex-col gap-2">
        <label i18n for="password2">Confirm password</label>
        <p-password
            id="password2"
            i18n-placeholder
            aria-describedby="password2-help"
            formControlName="password2"
            feedback="false"
            placeholder="Confirm password"
            autocomplete="password"
            fluid="true"
            [toggleMask]="true"
            [class.ng-invalid]="!passwordResetForm.controls.password2.pristine && (passwordResetForm.controls.password2.invalid || passwordResetForm.errors?.['passwordsMismatch'])"
            [class.ng-dirty]="!passwordResetForm.controls.password2.pristine && (passwordResetForm.controls.password2.invalid || passwordResetForm.errors?.['passwordsMismatch'])"
        />
        @if (passwordResetForm.controls.password2.errors?.['password2']) {
            <p-message severity="error" variant="simple" size="small">Enter a valid password</p-message>
        }
        @if (passwordResetForm.errors?.['passwordsMismatch']) {
            <p-message severity="error" variant="simple" size="small">Password does not match the new password</p-message>
        }
    </div>
    <p-button
        type="submit"
        fluid="true"
        i18n-label
        label="Reset password"
        [loading]="loading"
        [disabled]="!passwordResetForm.valid || passwordResetForm.pristine"
    ></p-button>
    <div class="flex items-center justify-center">
        <p i18n>Back to <a class="text-primary hover:underline" routerLink="/auth/login">login</a></p>
    </div>
</form>
