<div class="text-center mb-8">
    <h1 i18n class="text-3xl font-bold mb-2">Terraform Wars</h1>
    <p i18n class="text-gray-500">Log in to your account</p>
</div>
<form [formGroup]="loginForm" (ngSubmit)="login()" class="w-full flex flex-col gap-4">
    <div class="flex flex-col gap-2">
        <label i18n for="email">Email</label>
        <input
            pInputText
            i18n-placeholder
            id="email"
            aria-describedby="email-help"
            formControlName="email"
            placeholder="Email"
            autocomplete="email"
            [class.ng-invalid]="!loginForm.controls.email.pristine && loginForm.controls.email.invalid"
            [class.ng-dirty]="!loginForm.controls.email.pristine && loginForm.controls.email.invalid"
        />
        @if (loginForm.controls.email.errors?.['email']) {
            <p-message severity="error" variant="simple" size="small">Enter a valid email address</p-message>
        }
    </div>
    <div class="flex flex-col gap-2">
        <label i18n for="password">Password</label>
        <p-password
            id="password"
            i18n-placeholder
            aria-describedby="password-help"
            formControlName="password"
            placeholder="Password"
            feedback="false"
            fluid="true"
            [toggleMask]="true"
            [class.ng-invalid]="!loginForm.controls.password.pristine && loginForm.controls.password.invalid"
            [class.ng-dirty]="!loginForm.controls.password.pristine && loginForm.controls.password.invalid"
        />
        @if (loginForm.controls.password.errors?.['password']) {
            <p-message severity="error" variant="simple" size="small">Password is incorrect</p-message>
        }
    </div>
    <div class="flex items-center justify-end">
        <a i18n class="text-primary hover:underline" routerLink="/auth/password-reset">Forgot your password?</a>
    </div>
    <p-button
        type="submit"
        fluid="true"
        i18n-label
        label="Log in"
        [loading]="loading"
        [disabled]="!loginForm.valid || loginForm.pristine"
    ></p-button>
    <div class="flex items-center justify-center">
        <p i18n>Don't have an account? <a class="text-primary hover:underline" routerLink="/auth/sign-up">Sign up</a></p>
    </div>
</form>
<p-divider align="center" type="solid">
    <ng-container i18n>OR (soon)</ng-container>
</p-divider>
<div class="flex flex-col gap-3">
    <p-button
        variant="outlined"
        severity="secondary"
        icon="pi pi-google"
        iconPos="left"
        i18n-label
        label="Continue with Google"
        fluid="true"
        [disabled]="true"
    >
    </p-button>
    <p-button
        variant="outlined"
        severity="secondary"
        icon="pi pi-github"
        iconPos="left"
        i18n-label
        label="Continue with GitHub"
        fluid="true"
        [disabled]="true"
    >
    </p-button>
</div>
